# Force protocol v2 only
Protocol 2

# Disable IPv6 for now
AddressFamily inet

HostKey /mnt/stateful_partition/etc/ssh/ssh_host_rsa_key
HostKey /mnt/stateful_partition/etc/ssh/ssh_host_dsa_key

PasswordAuthentication yes
ChallengeResponseAuthentication no
PermitRootLogin no
UsePAM yes

PrintMotd no
PrintLastLog no
UseDns no
Subsystem sftp internal-sftp

PermitTunnel yes
AllowTcpForwarding yes
X11Forwarding no

ClientAliveInterval 420

AcceptEnv EDITOR LANG LC_ALL PAGER TZ
